header#mainHeader{
    width:100%;
    height: 60px;
    background:#DB504A;
    font-size: 28px;
    font-weight: bold;
    color:#EDF2F4;
    display:flex;
    justify-content: center;
    align-items: center;
    
}